.circle-cursor1-css {
    cursor: pointer;
    color : royalblue;
    transition : color 0.2s ease;
}

.circle-cursor1-css:hover {
    color: tomato;
}


.circle-cursor2-css {
    cursor: default;
}

.circle-cursor2-css:active {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"32\" height=\"32\"><circle cx=\"16\" cy=\"16\" r=\"8\" fill=\"rgba(144,0,255,0.5)\" /></svg>") 16 16, pointer;
}
