body {
    height: 100vh;
    /* 화면 전체 높이 */
    margin: 0;

    display: flex;
    /* 플렉스박스로 전환 */
    flex-direction: column;
    /* 세로로 배치 */
    justify-content: center;
    /* 세로 중앙 정렬 */
    align-items: center;
    /* 가로 중앙 정렬 */
}

#titleBtn {
    background-color: transparent;
    /* 배경 투명 */
    border: none;
    /* 테두리 제거 */
    color: #fff;
    /* 글자 색 */
    font-size: 1.8rem;
    /* 크기 */
    font-weight: bold;
    cursor: pointer;
    /* 손가락 커서 */
    margin-bottom: 20px;
}
